

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-5">William Palmer</h1>
        <div class="row center">
          <h5 class="header col s12 light">A Full Stack developer with a focus on Frontend design</h5>
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light  darken-1">Resume</a> -->
          <!-- Modal -->
        <div class="row center">
          <!-- Changed background-color to black -->
          <a class="waves-effect waves-light btn" style="background-color: black;" href="#modal1">Resume</a>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer" style="height:500px;">
          <div class="modal-content" style="height: 100%">
            <!-- Adding resume to modal -->
            <object data="resume.pdf" type="application/pdf" style="width:100%; height: 100%;"></object>
          </div>
          <div class="modal-footer">
            <form action="/" >
              <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
              <!-- Linking resume for download -->
              <a href="resume.pdf" download="resume.pdf" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Download</a>
            </form>
          </div>
        </div>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background6.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <br><br>
  <div class="row center ">
    <h4>About Me</h4>
  </div>
  <div class="row container ">
    <p class="light" style="text-align: center; font-size: 20px;">Full Stack Developer specialized in Ruby, Python, and JavaScript. Recently graduated from the Coding Dojo located in Washington D.C., an immersive 14-week coding program that focuses on Full Stack Development. The course teaches coders to be self-reliant in regards to solving programming challenges. Earned an MFA in Graphic Design form the Savannah College of Art and Design. The combination of my experience in design and my knowledge of full stack development, provides me with a well rounded skillset that enables me to be a positive addition to the web application industry.</p>
  </div>


  <div class="container ">
    <div class="section ">

      <!--   Icon Section   -->
      <div class="row">
        <!-- first column -->
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Front End</h5>
            <p class="light">HTML 5, CSS3, jQuery, Bootstrap, Materialize</p>
          </div>
        </div>
        <!-- second column -->
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Back End</h5>
            <p class="light">Ruby, Rails, Django, ExpressJS, Node.js, Flask, Socket,IO</p>
          </div>
        </div>
        <!-- third column -->
        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Database</h5>
            <p class="light">MySQL, SQLite, MongoDB, Active Record</p>
          </div>
        </div>
      </div>
      <br><br>

      <!-- Icons for programs -->
      <div class="row">
        <div class="col 12 m2 s6">
          <img  src="html5.png" alt="HTML5, CSS3, JavaScript" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="HTML5, CSS3, JavaScript">
        </div>
        <div class="col 12 m2 s6">
          <img  src="ruby.png" alt="Ruby" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ruby">
        </div>
        <div class="col 12 m2 s6">
          <img  src="rails.png" alt="Rails" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Rails">
        </div>
        <div class="col 12 m2 s6">
          <img  src="python.png" alt="Python" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Python">
        </div>

        <div class="col 12 m2 s6">
          <img  src="django.png" alt="Django" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Django">
        </div>
        <div class="col 12 m2 s6">
          <img  src="sqlite.png" alt="SQLite" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="SQLite">
        </div>
      </div>
      <!-- Icons Row 2 -->
      <div class="row">

        <div class="col 12 m2 s6">
          <img  src="flask.png" alt="Flask" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Flask">
        </div>
        <div class="col 12 m2 s6">
          <img  src="mamp.png" alt="MAMP" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MAMP">
        </div>
        <div class="col 12 m2 s6">
          <img  src="mysql.png" alt="MySql" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MySQL">
        </div>
        <div class="col 12 m2 s6">
          <img  src="postgres.png" alt="PostgreSQL" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="PostgreSQL">
        </div>
        <div class="col 12 m2 s6">
          <img  src="githubskill.png" alt="Github" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Github">
        </div>
        <div class="col 12 m2 s6">
          <img  src="terminal.png" alt="Terminal" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Terminal">
        </div>



      </div>
      <!-- Icons Row 3 -->
      <div class="row">
        <div class="col 12 m2 s6">
          <img  src="json.png" alt="JSON" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="JSON">
        </div>
        <div class="col 12 m2 s6">
          <img  src="jquery.png" alt="jQuery" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="jQuery">
        </div>
        <div class="col 12 m2 s6">
          <img  src="materialize.png" alt="Materialize" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Materialize">
        </div>
        <div class="col 12 m2 s6">
          <img  src="mongodb.png" alt="MongoDB" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="MongoDB">
        </div>
        <div class="col 12 m2 s6">
          <img  src="node_js.png" alt="NodeJS" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="NodeJS">
        </div>
        <div class="col 12 m2 s6">
          <img  src="npm.png" alt="NPM" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="NPM">
        </div>
      </div>
      <!-- Icons Row 4 -->
      <div class="row">


        <div class="col 12 m2 s6">
          <img  src="socket.png" alt="Socket.io" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Socket.io">
        </div>

        <div class="col 12 m2 s6">
          <img  src="vagrant.png" alt="Vagrant" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vagrant">
        </div>
        <div class="col 12 m2 s6">
          <img  src="bootstrap.png" alt="Bootstrap" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Bootstrap">
        </div>
        <div class="col 12 m2 s6">
          <img  src="photoshop.png" alt="Adobe Photoshop" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Photoshop">
        </div>
        <div class="col 12 m2 s6">
          <img  src="inDesign.png" alt="InDesign" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="InDesign">
        </div>
        <div class="col 12 m2 s6">
          <img  src="illustrator.png" alt="Adobe Illustrator" style="width: 90%; height: auto;" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Illustrator">
        </div>
      </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background5.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container ">
    <div class="section ">

      <div class="row ">
        <div class="col s12 center ">
          <h3><i class="mdi-content-send "></i></h3>
          <h4>Projects</h4>

        </div>
      </div>
      <!-- s12 is whole screen width and m6 is half -->
     <!-- Top 2 Projects -->
     <div class="row ">
       <div class="col s12 m6">
         <!-- adding card LEFT -->
         <div class="card" style="box-shadow: 5px 5px 10px #333; border-radius:10px;padding:10px;">
           <div class="card-image waves-effect waves-block waves-light">
             <!-- Insert new image -->
             <img class="activator" src="events.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Events<i class="material-icons right">more_vert</i></span>
             <p><a href="https://github.com/WilliamJPalmer/Projects/tree/master/Rails/events" target="_blank">Events on GitHub</a>
           </div>
           <!-- Card reveal from bottom -->
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Events<i class="material-icons right">close</i></span>
             <p>Events is a web application that allows the user to view events in their state. The user can also join existing events made by other users. When a user joins and event by clicking on the "Join" link, a "Cancel" link will appear if the user decides to not join the event. Deletion of an event can only be completed by the user that created the event. </p>
             <p>The application was built with Ruby and Rails with a SQLite database.  Bootstrap, Google Fonts and custom CSS were used for the front-end.</p>
           </div>
         </div>
       </div>
       <div class="col s12 m6">
         <!-- adding card RIGHT -->
         <div class="card" style="box-shadow: 5px 5px 10px #333; border-radius:10px;padding:10px;">
           <div class="card-image waves-effect waves-block waves-light">
             <!-- Insert new image -->
             <img class="activator" src="playlist.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Playlist<i class="material-icons right">more_vert</i></span>
             <p><a href="https://github.com/WilliamJPalmer/Playlist" target="_blank">Playlist on GitHub</a>
           </div>
           <!-- Card reveal from bottom -->
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Playlist<i class="material-icons right">close</i></span>
             <p>A web application that allows users to add new songs to a pool of songs. Users can add songs to their playlist by clicking an "Add" button. All the users that have added a song can be viewed by clicking on the song title. An entire user's playlist can be viewed by clicking on the users name.</p>
             <p>This site was built with Ruby and Rails with a SQLite database.  Bootstrap, Google Fonts and custom CSS were used for the front-end.</p>
           </div>
         </div>
       </div>
     </div>
     <!-- s12 is whole screen width and m6 is half -->
     <!-- Bottom 2 Projects -->
     <div class="row">
       <div class="col s12 m6">
     <!-- adding card LEFT -->
         <div class="card" style="box-shadow: 5px 5px 10px #333; border-radius:10px;padding:10px;">
           <div class="card-image waves-effect waves-block waves-light">
             <!-- Insert new image -->
             <img class="activator" src="secrets.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Secrets<i class="material-icons right">more_vert</i></span>
             <p><a href="https://github.com/WilliamJPalmer/Projects/tree/master/Rails/DojoSecrets" target="_blank">Secrets on GitHub</a>
           </div>
           <!-- Card reveal from bottom -->
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Secrets<i class="material-icons right">close</i></span>
             <p>If you ever wanted to post a secret annonymously, Secrets would be a great web application for that. Users can login and see the secrets that they have posted as well as posting new secrets. All the posted secrets are available and users can "Like" secrets and "Unlike" and secret they have previously liked. The database maintains a count of a secret's "Likes". Users can only delete their own secrets.</p>
             <p>This site was built with Rails with a SQLite database.  Custom CSS and Google Fonts were used for the front-end.</p>
           </div>
         </div>
       </div>
       <div class="col s12 m6">
     <!-- adding card RIGHT -->
         <div class="card" style="box-shadow: 5px 5px 10px #333; border-radius:10px;padding:10px;">
           <div class="card-image waves-effect waves-block waves-light">
             <!-- Insert new image -->
             <img class="activator" src="travelBuds.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4">Travel Buddy<i class="material-icons right">more_vert</i></span>
             <p><a href="https://github.com/WilliamJPalmer/Projects/tree/master/Python/travelBud" target="_blank">Travel Buddies on GitHub</a>
           </div>
           <!-- Card reveal from bottom -->
           <div class="card-reveal">
             <span class="card-title grey-text text-darken-4">Travel Buddy<i class="material-icons right">close</i></span>
             <p>When you are planning a trip, why not see where other people are going. Better than that, you can join that trip as well. Users can see all the planned trips and have the option to join any trip. Destination details are available by clicking on the name of the destination. Users can also plan their own travel plan that others can join.</p>
             <p>This site was built with Python and Django and uses a MySQL database.  Custom CSS and Google Fonts were used for the front-end.</p>
           </div>
         </div>
       </div>
     </div>

   <!-- /.col -->
   </div>
 <!-- /.container -->
 </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="font-weight:bold; text-shadow: 3px 3px 6px #000;">The most rewarding journeys are seldom the easiest ones</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background4.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer blue-grey" style="text-align:center;">
    <div class="container" style="text-align:center;margin: 0px auto;">
      <div class="row" style="text-align:center;">

        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <p><a class="white-text" href="mailto:william.palmer@me.com">william.palmer@me.com</a> <span style="color:white;">912.441.0656</span></p>
          <ul>
            <!-- Contact info -->
            <!-- <li><a class="white-text" href="#!" target="_blank" mailto:"william.palmer@me.com">william.palmer@me.com</a></li>
            <li><a class="white-text" href="#!">912.441.0656</a></li> -->
            <br>
            <!-- Social media links -->
            <a href="https://www.linkedin.com/in/william-palmer-5923a75/" target="_blank" class="waves-effect waves-light btn-floating btn-large social linkedin" style="background-color: #007bb6">
              <img src="linkedin_icon.png" alt="">
            <i class="linkedin"></i> Sign in with linkedin</a>
            <a href="https://github.com/WilliamJPalmer" target="_blank" class="waves-effect waves-light btn-floating btn-large social github" style="background-color: #444444">
              <img style="padding-top:3px;" src="github_icon.png" alt="">
            <i class="github"></i> Sign in with github</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="text-align:center;">
        Created by William Palmer
      </div>
    </div>
  </footer>
